* {
    margin: 0;
    padding: 0;
}

.container {
    width: 70%;
}

#exampleDataList {
    width: 60%;
    color: blueviolet;
}

.current {
    margin-top: 60px;
    color: blueviolet;
    display: flex;
    justify-content: space-between;
}

.temp p {
    text-align: center;
}

.one {
    width: 50%;
}

.chart {
    margin-top: 80px;
}

.chart h5 {
    color: blueviolet;
}

.chart strong {
    font-size: 70px;
}